body {
	font-family: monospace;
}

/*
 * Special div containers
 */
#main {
	margin: auto;
	width: 1000px;
	border: 2px solid #000000;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
}
#chatting {
	display: none;
	margin-top: 20px;
}
#input {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#output {
	display: flex;
	flex-direction: column;
}

/*
 * Classes
 */
.received_from {
	border-top: 1px solid #AAAACC;
	text-align: left;
}
.received_message {
	padding-left: 20px;
	text-align: left;
}
